html {
  font-family: 'helvetica';
}

body {
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-size: 16px;
  color: #4A4A4A;
  text-align: left;
  font-weight: normal;
  margin-bottom: 20px;
}

.primary-text {
  font-size: 16px;
  color: #4A4A4A;
}

.secondary-text {
  font-size: 14px;
  color: #4A4A4A;
}

.uppercase {
  text-transform: uppercase;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 990px;
  padding: 12px;
  box-sizing: border-box;
}

.caption {
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 14px 0;
}

table {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
}

.table-header {
  margin-bottom: 2px;
  background-color: white;
}

.table-header-cell {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.table-header-cell:first-child {
  padding-left: 60px;
}

.sort-button {
  border: 0;
  background-color: transparent;
  font-weight: inherit;
  cursor: pointer;
}

.table-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #E0E0E0;
  background-color: white;
}

.table-row-check {
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  padding: 14px;
}

.table-row-cell {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 14px;
  overflow: hidden;
}

.table-row-cell div {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.btn-container {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 14px 0;
}

.submit-button {
  width: 120px;
  height: 32px;
  background-color: #8E0000;
  color: #FFFFFF;
  border-radius: 32px;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
}

@media only screen and (max-width: 425px) {
  table {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
